@import url('https://fonts.googleapis.com/css2?family=Inter:ital,[email protected];400;500;600;700&display=swap');
@import "tailwindcss";

@theme { 
    --color-back: #1E1E1E; 
    --color-free: #43C043;
    --color-free-p: #ADFFAD;
    --color-font: #637FFF;

    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
    --font-family-inter: 'Inter', sans-serif;
}


html, body, #root {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}